apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: stories
  namespace: nde
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    workload:
      replicas: 2

    containers:
      - name: app
        image:
          repository: ghcr.io/netwerk-digitaal-erfgoed/stories
          tag: latest # {"$imagepolicy": "nde:stories:tag"}
        port: 80
        flux:
          enabled: true

    ingresses:
      - hosts:
          - datastories.demo.netwerkdigitaalerfgoed.nl
