apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qlever-ui
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      reconcileStrategy: Revision
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    workload:
      type: statefulset

    containers:
      - name: app
        image:
          repository: adfreiburg/qlever-ui
          tag: latest
        flux:
          enabled: false
        port: 7000
        env:
          - name: RESTART_TRIGGER
            value: "1"
          - name: QLEVERUI_CSRF_TRUSTED_ORIGINS
            value: "https://qlever.netwerkdigitaalerfgoed.nl"
        volumeMounts:
          - name: db
            mountPath: /app/db

    persistentVolumes:
      - name: db
        size: 1Gi

    ingresses:
      - hosts:
          - qlever.netwerkdigitaalerfgoed.nl
      - name: redirect
        hosts:
          - qlever-ui.demo.netwerkdigitaalerfgoed.nl
        tls:
          enabled: true
        annotations:
          nginx.ingress.kubernetes.io/permanent-redirect: https://qlever.netwerkdigitaalerfgoed.nl$request_uri
