apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dataset-register-api
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      reconcileStrategy: Revision
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    workload:
      replicas: 2
    containers:
      - name: app
        image:
          repository: ghcr.io/netwerk-digitaal-erfgoed/dataset-register/apps-api
          tag: 20260223154035-7d7b1dd # {"$imagepolicy": "nde:dataset-register-api:tag"}
        port: 3000
        env:
          - name: SPARQL_URL
            value: "http://dataset-register-qlever"
          - name: SPARQL_ACCESS_TOKEN
            valueFrom:
              secretKeyRef:
                name: dataset-register-qlever
                key: access-token
          - name: TRUST_PROXY
            value: "true"
          - name: OTEL_EXPORTER_OTLP_ENDPOINT
            value: "http://opentelemetry-collector:4318"
          - name: OTEL_LOG_LEVEL
            value: "all"
          - name: API_ACCESS_TOKEN
            valueFrom:
              secretKeyRef:
                name: dataset-register-api-token
                key: token
    ingresses:
      - hosts:
          - datasetregister.netwerkdigitaalerfgoed.nl
        annotations:
          nginx.ingress.kubernetes.io/rewrite-target: /$2
        paths:
          - path: /api(/|$)(.*)
            pathType: ImplementationSpecific
        tls:
          enabled: false
      - name: api-redirect
        hosts:
          - datasetregister.netwerkdigitaalerfgoed.nl
        annotations:
          nginx.ingress.kubernetes.io/permanent-redirect: https://datasetregister.netwerkdigitaalerfgoed.nl/api/
        paths:
          - path: /api
            pathType: Exact
        tls:
          enabled: false
      - name: redirect
        hosts:
          - demo.netwerkdigitaalerfgoed.nl
        annotations:
          nginx.ingress.kubernetes.io/permanent-redirect: https://datasetregister.netwerkdigitaalerfgoed.nl/api
        paths:
          - path: /register-api(/|$)(.*)
            pathType: ImplementationSpecific
