apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dataset-register-browser
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      reconcileStrategy: Revision
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    workload:
      replicas: 2
    containers:
      - name: app
        image:
          repository: ghcr.io/netwerk-digitaal-erfgoed/dataset-register/apps-browser
          tag: 20260225102041-862fb98 # {"$imagepolicy": "nde:dataset-register-browser:tag"}
        port: 3000
        env:
          - name: PROTOCOL_HEADER
            value: "x-forwarded-proto"
          - name: HOST_HEADER
            value: "x-forwarded-host"
    ingresses:
      - hosts:
          - datasetregister.netwerkdigitaalerfgoed.nl
        paths:
          - path: /datasets
            pathType: Prefix
          - path: /_app
            pathType: Prefix
          - path: /en
            pathType: Prefix
          - path: /sitemap.xml
            pathType: Prefix
