apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dataset-register-browser
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      reconcileStrategy: Revision
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    workload:
      replicas: 2
    containers:
      - name: app
        image:
          repository: ghcr.io/netwerk-digitaal-erfgoed/dataset-register/apps-browser
          tag: 20251213192358-729ffb8 # {"$imagepolicy": "nde:dataset-register-browser:tag"}
        port: 3000
    ingresses:
      - hosts:
          - datasetregister.netwerkdigitaalerfgoed.nl
        paths:
          - path: /datasets
            pathType: Prefix
          - path: /_app
            pathType: Prefix
          - path: /en
            pathType: Prefix
