apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dataset-register-demo
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      reconcileStrategy: Revision
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    workload:
      type: statefulset
    containers:
      - name: nginx
        image:
          repository: ghcr.io/netwerk-digitaal-erfgoed/registry-demo-nginx
          tag: 20251218222718-1abe16f # {"$imagepolicy": "nde:dataset-register-demo-nginx:tag"}
        port: 80
        volumeMounts:
          - mountPath: /datasetdescriptions
            name: data
      - name: php
        image:
          repository: ghcr.io/netwerk-digitaal-erfgoed/registry-demo-php-fpm
          tag: 20251218222718-1abe16f # {"$imagepolicy": "nde:dataset-register-demo-php:tag"}
        port: 9000
        volumeMounts:
          - mountPath: /datasetdescriptions
            name: data
    ingresses:
      - hosts:
          - datasetregister.netwerkdigitaalerfgoed.nl
        tls:
          enabled: false
    persistence:
      enabled: true
      mountPath: /datasetdescriptions
