apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: network-of-terms-status
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      reconcileStrategy: Revision
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    workload:
      replicas: 1
    containers:
      - name: app
        image:
          repository: ghcr.io/netwerk-digitaal-erfgoed/network-of-terms-status
          tag: latest # {"$imagepolicy": "nde:network-of-terms-status:tag"}
        port: 3000
        env:
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: status-postgres
                key: database-url
    ingresses:
      - hosts:
          - termennetwerk-api.netwerkdigitaalerfgoed.nl
        paths:
          - path: /status(/|$)(.*)
            pathType: ImplementationSpecific
        annotations:
          nginx.ingress.kubernetes.io/rewrite-target: /$2
        tls:
          enabled: false
