apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: network-of-terms-status
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      reconcileStrategy: Revision
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    workload:
      replicas: 1
    containers:
      - name: app
        image:
          repository: ghcr.io/netwerk-digitaal-erfgoed/network-of-terms-status
          tag: 20260205101036-3de9d75 # {"$imagepolicy": "nde:network-of-terms-status:tag"}
        port: 3000
        env:
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: status-postgres
                key: database-url
          - name: GTAA_CREDENTIALS
            valueFrom:
              secretKeyRef:
                name: network-of-terms-gtaa-credentials
                key: credentials
    ingresses:
      - hosts:
          - status.termennetwerk.netwerkdigitaalerfgoed.nl
