apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: demo
  namespace: nde
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      reconcileStrategy: Revision
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    workload:
      replicas: 2

    containers:
      - name: demo
        image:
          repository: ghcr.io/netwerk-digitaal-erfgoed/demo-frontend
          tag: latest # {"$imagepolicy": "nde:demo:tag"}
        port: 5501

    ingresses:
      - hosts:
          - demo.netwerkdigitaalerfgoed.nl
        tls:
          enabled: true
          secretName: demo-tls-v2
        paths:
          - path: /
            pathType: Prefix
          - path: /termennetwerk
            pathType: Prefix
          - path: /register(/|$)(.*)
            pathType: ImplementationSpecific
          - path: /register-api(/|$)(.*)
            pathType: ImplementationSpecific
          - path: /geonames
            pathType: Prefix
        annotations:
          nginx.ingress.kubernetes.io/use-regex: "true"
          nginx.ingress.kubernetes.io/configuration-snippet: |
            # /termennetwerk redirect
            location = /termennetwerk {
              return 301 https://termennetwerk.netwerkdigitaalerfgoed.nl;
            }
            location ^~ /termennetwerk/ {
              return 301 https://termennetwerk.netwerkdigitaalerfgoed.nl;
            }
            # /register redirect
            location = /register {
              return 301 https://datasetregister.netwerkdigitaalerfgoed.nl/;
            }
            location ^~ /register/ {
              return 301 https://datasetregister.netwerkdigitaalerfgoed.nl;
            }
            # /register-api redirect
            location = /register-api {
              return 301 https://datasetregister.netwerkdigitaalerfgoed.nl/api/;
            }
            location ^~ /register-api/ {
              return 301 https://datasetregister.netwerkdigitaalerfgoed.nl/api;
            }
            # /geonames redirect
            location ^~ /geonames {
              return 301 https://geonames.netwerkdigitaalerfgoed.nl$request_uri;
            }
