apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: heritageflix-churches
  namespace: nde
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    containers:
      - name: app
        image:
          repository: ghcr.io/netwerk-digitaal-erfgoed/heritageflix-churches
          tag: 20251201214715-aaf14d3 # {"$imagepolicy": "nde:heritageflix-churches:tag"}
        port: 3000
        flux:
          enabled: true
    ingresses:
      - hosts:
          - heritageflix-churches.demo.netwerkdigitaalerfgoed.nl
