apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: heritageflix-zuiderzeemuseum-locaties
  namespace: nde
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    containers:
      - name: app
        image:
          repository: ghcr.io/netwerk-digitaal-erfgoed/heritageflix-zuiderzeemuseum-locaties
          tag: 20251201222028-a298c51 # {"$imagepolicy": "nde:heritageflix-zuiderzeemuseum-locaties:tag"}
        port: 3000
    ingresses:
      - hosts:
          - heritageflix-zuiderzeemuseum-locaties.demo.netwerkdigitaalerfgoed.nl
