apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: geonames-sparql
  namespace: nde
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    workload:
      type: statefulset

    containers:
      - name: app-test2
        image:
          repository: stain/jena-fuseki
          tag: "5.1.0" # {"$imagepolicy": "nde:geonames-sparql-fuseki:tag"}
        flux:
          enabled: true
          policy:
            type: semver
            range: ">=5.1.0"
        port: 3030
        resources:
          requests:
            memory: 8Gi
        env:
          - name: JVM_ARGS
            value: "-Xmx8g"
        volumeMounts:
          - name: fuseki
            mountPath: /fuseki
          - name: config
            mountPath: /fuseki/config.ttl
            subPath: config.ttl
          - name: data
            mountPath: /data
            subPath: production
        livenessProbe:
          httpGet:
            path: /$/ping
        readinessProbe:
          httpGet:
            path: /$/ping

    securityContext:
      fsGroup: 100

    volumes:
      - name: config
        configMap:
          name: geonames-sparql-fuseki-config

    persistentVolumes:
      - name: data
        size: 50Gi
      - name: fuseki
        size: 10Gi

    service:
      port: 80
      targetPort: 3030

    ingresses:
      - hosts:
          - geonames.netwerkdigitaalerfgoed.nl
        paths:
          - path: /
            pathType: Prefix
      - name: redirect
        hosts:
          - demo.netwerkdigitaalerfgoed.nl
        paths:
          - path: /geonames
            pathType: Prefix
        annotations:
          nginx.ingress.kubernetes.io/server-snippet: |
            location ~* ^/geonames2(/|$)(.*) {
              return 301 https://demo.netwerkdigitaalerfgoed.nl/geonames/$2;
            }
            location ~* ^/geonames(/|$)(.*) {
              return 301 https://geonames.netwerkdigitaalerfgoed.nl/$2;
            }

    configMaps:
      - name: fuseki-config
        data:
          config.ttl: |
            # Test ConfigMap change
            @prefix :       <#> .
            @prefix fuseki: <http://jena.apache.org/fuseki#> .
            @prefix gn:     <https://www.geonames.org/ontology#> .
            @prefix tdb2:   <http://jena.apache.org/2016/tdb#> .
            @prefix text:   <http://jena.apache.org/text#> .

            [] a fuseki:Server ;
               fuseki:services (:geonames) .

            :geonames a fuseki:Service ;
                      fuseki:name "" ;
                      fuseki:label "GeoNames" ;
                      fuseki:serviceQuery "sparql" ;
                      fuseki:serviceReadGraphStore "get" ;
                      fuseki:dataset :textDataset ;
            .

            :textDataset a text:TextDataset ;
              text:dataset :dataset ;
              text:index :index ;
            .

            :dataset a tdb2:DatasetTDB2 ;
              tdb2:location "/data/tdb" ;
            .

            :index a text:TextIndexLucene ;
              text:directory <file:/data/index> ;
              text:entityMap :entityMap ;
              text:analyzer [
                a text:ConfigurableAnalyzer ;
                text:tokenizer text:StandardTokenizer ;
                text:filters ( text:ASCIIFoldingFilter text:LowerCaseFilter ) ;
              ] ;
            .

            :entityMap a text:EntityMap ;
              text:defaultField "name" ;
              text:entityField "uri" ;
              text:map (
                [
                  text:field "name" ;
                  text:predicate gn:name ;
                  text:boost 3.0 ;
                ]
                [
                  text:field "alternateName" ;
                  text:predicate gn:alternateName ;
                ]
                [
                  text:field "countryCode" ;
                  text:predicate gn:countryCode ;
                ]
              ) ;
            .
