apiVersion: batch/v1
kind: CronJob
metadata:
  name: geonames-sparql-indexer
  namespace: nde
spec:
  schedule: "0 2 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - geonames-sparql
                  topologyKey: kubernetes.io/hostname
          serviceAccountName: statefulset-manager
          initContainers:
            - name: prepare-fuseki
              image: stain/jena-fuseki:5.1.0 # {"$imagepolicy": "nde:geonames-sparql-fuseki:tag"}
              volumeMounts:
                - name: data
                  mountPath: /data
                  subPath: staging
                - name: fuseki-config
                  mountPath: /fuseki-config
              env:
                - name: JVM_ARGS
                  value: "-Xmx3600M"
              command:
                - sh
                - -c
                - |
                  rm -rf /data/*
                  curl -sS -O https://geonames.ams3.digitaloceanspaces.com/geonames.zip
                  unzip geonames.zip
                  ./tdbloader2 --loc=/data/tdb geonames.ttl
                  echo "Creating Lucene index..."
                  java $JVM_ARGS -cp $FUSEKI_HOME/fuseki-server.jar jena.textindexer --desc=/fuseki-config/config.ttl
                  chmod -R g+w /data/*
          containers:
            - name: restart-server
              image: bitnami/kubectl:latest
              volumeMounts:
                - name: data
                  mountPath: /data
              command:
                - sh
                - -c
                - |
                  kubectl scale statefulset/geonames-sparql --replicas=0
                  kubectl rollout status statefulset/geonames-sparql --watch
                  rm -rf /data/production/*
                  mv /data/staging/* /data/production
                  kubectl scale statefulset/geonames-sparql --replicas=1
          restartPolicy: OnFailure
          volumes:
            - name: data
              persistentVolumeClaim:
                claimName: data-geonames-sparql-0
            - name: fuseki-config
              configMap:
                name: geonames-sparql-fuseki-config
          securityContext:
            fsGroup: 100
