apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mattermost
  namespace: nde
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      reconcileStrategy: Revision
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    workload:
      type: statefulset
    securityContext:
      fsGroup: 2000
    containers:
      - name: app
        image:
          repository: mattermost/mattermost-team-edition
          tag: "11.4.0" # {"$imagepolicy": "nde:mattermost:tag"}
        port: 8065
        flux:
          policy:
            type: semver
            range: "~11"
        env:
          - name: MM_SERVICESETTINGS_SITEURL
            value: https://chat.netwerkdigitaalerfgoed.nl
          - name: MM_SQLSETTINGS_DRIVERNAME
            value: postgres
          - name: MM_SQLSETTINGS_DATASOURCE
            valueFrom:
              secretKeyRef:
                name: mattermost-postgres
                key: datasource
          - name: MM_EMAILSETTINGS_SENDEMAILNOTIFICATIONS
            value: "true"
          - name: MM_EMAILSETTINGS_SMTPSERVER
            value: smtp.lettermint.co
          - name: MM_EMAILSETTINGS_SMTPPORT
            value: "587"
          - name: MM_EMAILSETTINGS_SMTPUSERNAME
            value: lettermint
          - name: MM_EMAILSETTINGS_SMTPPASSWORD
            valueFrom:
              secretKeyRef:
                name: mattermost-smtp
                key: password
          - name: MM_EMAILSETTINGS_CONNECTIONSECURITY
            value: STARTTLS
          - name: MM_EMAILSETTINGS_FEEDBACKEMAIL
            value: noreply@netwerkdigitaalerfgoed.nl
          - name: MM_EMAILSETTINGS_FEEDBACKNAME
            value: Mattermost
          - name: MM_PLUGINSETTINGS_PLUGINSTATES
            value: '{"playbooks":{"Enable":false},"mattermost-ai":{"Enable":false}}'
        volumeMounts:
          - name: data
            mountPath: /mattermost/data
    persistentVolumes:
      - name: data
        size: 20Gi
    ingresses:
      - hosts:
          - chat.netwerkdigitaalerfgoed.nl
        annotations:
          nginx.ingress.kubernetes.io/proxy-body-size: "100m"
