# See https://docs.nginx.com/nginx-ingress-controller/configuration/ingress-resources/basic-configuration/
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: network-of-terms-demo
  annotations:
    cert-manager.io/issuer: harica-nde
    cert-manager.io/usages: server auth,digital signature,client auth
spec:
  tls:
    - hosts:
        - termennetwerk.nde.ms4.surfsara.nl
      secretName: termennetwerk-tls
  rules:
    - host: termennetwerk.nde.ms4.surfsara.nl
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: network-of-terms-demo
                port:
                  number: 80
