{{- range $index, $cname := .Values.cnames }}
{{- $name := printf "%s-cname-%d" (include "nde-app.fullname" $) $index }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}
  labels:
    {{- include "nde-app.labels" $ | nindent 4 }}
  annotations:
    external-dns.alpha.kubernetes.io/hostname: {{ $cname.hostname }}
spec:
  type: ExternalName
  externalName: {{ $cname.target }}
{{- end }}
