{{- range .Values.containers }}
{{- $fluxEnabled := not (and .flux (eq .flux.enabled false)) }}
{{- if $fluxEnabled }}
{{- $fluxName := include "nde-app.fluxName" (list ((.flux).name) (include "nde-app.fullname" $) .name) }}
---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageRepository
metadata:
  name: {{ $fluxName }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "nde-app.labels" $ | nindent 4 }}
spec:
  image: {{ .image.repository }}
  {{- $defaultInterval := (hasPrefix "ghcr.io/netwerk-digitaal-erfgoed" .image.repository) | ternary "1m" "24h" }}
  interval: {{ ((.flux).interval) | default $defaultInterval }}
  {{- if or ((.flux).secretRef) (hasPrefix "ghcr.io" .image.repository) }}
  secretRef:
    name: {{ ((.flux).secretRef) | default "ghcr" }}
  {{- end }}
{{- end }}
{{- end }}
