apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: omeka-s-faq-mysql
  namespace: nde
spec:
  serviceAccountName: nde
  interval: 30m
  chart:
    spec:
      chart: helm/nde-app
      sourceRef:
        kind: GitRepository
        name: nde
  values:
    workload:
      type: statefulset

    containers:
      - name: mariadb
        image:
          repository: mariadb
          tag: "10.11.3"
        port: 3306
        env:
          - name: MYSQL_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: omeka-s-faq-mysql
                key: root-password
          - name: MYSQL_USER
            valueFrom:
              secretKeyRef:
                name: omeka-s-faq-mysql
                key: username
          - name: MYSQL_PASSWORD
            valueFrom:
              secretKeyRef:
                name: omeka-s-faq-mysql
                key: password
          - name: MYSQL_DATABASE
            value: omeka_s_faq
        volumeMounts:
          - name: data
            mountPath: /var/lib/mysql

    persistentVolumes:
      - name: data
        size: 8Gi

    service:
      port: 3306
      targetPort: 3306
